hidden=[".config"]
modules = ["web", "nodejs-20"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "npm run start"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 40622149
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 3000
externalPort = 80
